<!-- templates/notes/supervisor_dashboard.html -->
{% extends 'base.html' %}
{% block content %}
<h2 class="text-2xl font-bold mb-6">Proveedores Registrados</h2>
<div class="bg-white shadow overflow-hidden sm:rounded-md">
    <ul class="divide-y divide-gray-200">
        {% for supplier in suppliers %}
        <li>
            <a href="{% url 'supervisor_supplier_notes' supplier.pk %}" class="block hover:bg-gray-50">
                <div class="px-4 py-4 sm:px-6">
                    <div class="flex items-center justify-between">
                        <!-- Quitamos supplier.last_name -->
                        <p class="text-sm font-medium text-indigo-600 truncate">{{ supplier.first_name }}</p>
                        <p class="text-sm text-gray-500">ID: {{ supplier.document_id }}</p>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}